<script>
  const
    /** @type {RequestInit} */
    JSONfetchInit = {
      headers: {
        "Accept": "application/json"
      },
      method: "GET",
      mode: "no-cors",
      referrerPolicy: "no-referrer"
    },
    cardsFetch = fetch("https://raw.githubusercontent.com/Sekai-World/sekai-master-db-diff/main/cards.json", JSONfetchInit).then((response) => response.json()),
    eventsFetch = fetch("https://raw.githubusercontent.com/Sekai-World/sekai-master-db-diff/main/events.json", JSONfetchInit).then((response) => response.json()),
    gachasFetch = fetch("https://raw.githubusercontent.com/Sekai-World/sekai-master-db-diff/main/gachas.json", JSONfetchInit).then((response) => response.json()),
    cardArtBase = "https://storage.sekai.best/sekai-assets/character/member/";

      function DOMReady() {
        return new Promise((resolve) => {
          if (document.readyState !== "loading") return resolve();
          //else
          return document.addEventListener("DOMContentLoaded", resolve);
        })
      };


  class artimg extends HTMLImageElement {
    constructor() {
      super();
      this.referrerPolicy = "no-referrer";
      this.decoding = "async";
      this.loading = "lazy";
    }
  }
  customElements.define("art-img", artimg, { extends: "img" });

    const cardsLoaded = Promise.all([DOMReady, cardsFetch]).then(([_, data]) => {
    document.querySelectorAll("a[href*='/card/' i]").forEach(/** @param {HTMLAnchorElement} e */(e) => {
      e.classList.add("hoverpreview", "card");
      const cardId = e.href.split("/").pop();
      const card = data.find((c) => c.id == cardId);
      if (card) {
        const div = document.createElement("div");
        const normal = document.createElement("img", { is: "art-img" });
        normal.src = cardArtBase + card.assetbundleName + "_rip/card_normal.webp";
        const trained = document.createElement("img", { is: "art-img" });
        trained.src = cardArtBase + card.assetbundleName + "_rip/card_after_training.webp";
        div.appendChild(normal);
        div.appendChild(trained);
        e.appendChild(div);
      }
    })
    return data;
  })
    const gachasLoaded = Promise.all([DOMReady, gachasFetch]).then(([_, data]) => {
    document.querySelectorAll("a[href*='/event/' i]").forEach(/** @param {HTMLAnchorElement} e */(e) => {
      e.classList.add("hoverpreview", "event")
    })
    return data;
  })
    const eventsLoaded = Promise.all([DOMReady, eventsFetch]).then(([_, data]) => {
    document.querySelectorAll("a[href*='/gacha/' i]").forEach(/** @param {HTMLAnchorElement} e */(e) => {
      e.id = "e" + e.href.split("/").pop();
      e.classList.add("hoverpreview", "gacha")
    })
    return data;
  })
</script>
<style type="text/css">
  .wrapper > section .hoverpreview>div {
    pointer-events: none;
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .wrapper > section .hoverpreview>div>img {
    /*CSS for preview image*/
    max-height: 50%;
    max-width: 165%;
  }

  .wrapper > section .hoverpreview:hover>div>img {
    /*CSS for preview image on hover*/
    visibility: visible;
  }

  .wrapper > section {
    background: #ffffff99;
  }

  .wrapper > section thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: #bbbbbb99;
  }
</style>