.wrapper>section {
  background: #ffffff99
}

.hoverpreview>div {
  pointer-events: none;
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.hoverpreview>div>img {
  max-height: 50%;
  max-width: 165%;
  margin: 0;
    position: unset;
    padding: 0;
    border: none;
}

.hoverpreview:hover>div>img {
  visibility: visible
}

#event-table table {
  border-collapse: collapse;
  border: 1px solid #000c;
    vertical-align: middle;
}

#event-table thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
    background: #bbbbbb99
}

#event-table td {
  background: unset;
  border: 1px solid #000c;
    vertical-align: middle;
  }
  
  #event-table th {
    background: #0009;
    vertical-align: bottom;
    border: 1px solid #000c;
}